body {
    background-color: black;
    margin: 0;
}

header {
    position: fixed;
    height: 2rem;
    width: 100%;
    background-color: rgb(0, 0, 0, 25%);
}

nav {
    display: inline-block;
    position: fixed;
    top: -10px;
    left: -20px;
}

ul {
    display: flex;
    gap: 1rem;
}

nav li {
    font-family: "Limelight", 'Times New Roman', Times, sans-serif;
    color: whitesmoke;
    font-size: 1rem;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#banner {
    height: 100vh;
    display: flex;
}

.banner-tiles {
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

#single-image {
    display: none;
    visibility: hidden;
}

.space {
    border-right: 2px solid black;
}

p {
    color: whitesmoke;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

#name-txt {
    margin: auto;
    width: 30em;
}

.name {
    font-size: 3rem;
}

#quote {
    font-size: 1rem;
}

.section {
    width: 100%;
    height: 100vh;
}

#rivers {
    width: 100%;
    display: grid;
    grid-template-rows: 12rem 1rem 1fr;
    grid-template-columns: 1fr 1fr;
}

#top {
    margin-top: 2rem;
    background: url(./assets/hughes-pic.jpeg) repeat;
    background-size: contain;
    grid-column: 1 / 3;
}

#line {
    height: 1rem;
    width: 100%;
    background-color: whitesmoke;
    grid-column: 1 / 3;
}

#bottom {
    display: flex;
    width: 100%;
}

#rivers-txt {
    background-color: whitesmoke;
    color: black;
    width: 35rem;
    height: 35rem;
    font-size: 1.4rem;
    text-align: left;
    /* justify-self: center; */
}

.raised {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 1px;
    box-shadow: -1px 1px whitesmoke, -2px 2px whitesmoke, -3px 3px whitesmoke, -4px 4px whitesmoke, -5px 5px whitesmoke;
}

#rivers-vid {
    background-color: black;
    margin: auto;
    /* margin-top: 20vh; */
    grid-column: 2;
    justify-self: center;
}

.sized {
    width: 25vw;
}

#jazz {
    display: flex;
    justify-content: space-between;
}

.jazz {
    width: 30rem;
    height: 35rem;
    text-align: left;
    font-size: 1.5rem;
}

.up {
    margin-top: 5rem;
}

.down {
    margin-bottom: 5rem;
}

#angel {
    width: 400px;
    height: 533px;
    padding: 0;
    margin: auto;
}

#cite {
    font-size: .5rem;
}

#blues {
    display: flex;
    justify-content: center;
    align-items: center;
}

#weary-vid {
    padding: 0;
    margin: 0 auto;
}



@media screen and (min-width: 481px) and (max-width: 1480px) {

    .name {
        font-size: 2rem;
    }

    #name-birthdate {
        font-size: 1rem;
    }

    #tiles {
        display: none;
        visibility: hidden;
    }

    #single-image {
        display: flex;
        align-items: center;
        visibility: visible;
        padding: 2em;
    }

    #weary {
        height: 85vh;
    }


    #rivers {
        display: flex;
    }

    #top {
        display: none;
        visibility: hidden;
    }

    #line {
        display: none;
        visibility: hidden;
    }

    .jazz {
        font-size: 1em;
        height: auto;
        width: 20em;
        height: 25em;
    }

    #angel {
        width: 20em;
        height: auto;
    }

}


@media screen and (max-width: 480px) {
    body {
        background-color: black;
    }

    nav li {
        font-size: .5rem;
    }

    #banner {
        display: flex;
        flex-direction: column;
    }

    #tiles {
        display: none;
        visibility: hidden;
    }

    #single-image {
        display: block;
        visibility: visible;
        margin: 3em auto;
        height: 8.5em;
    }

    #name-txt {
        width: 100vw;
        margin-top: 20em;
    }

}